/*
    The Colors!  Change any of the values here to whichever color you like.
    bg stands for 'background', 'text' stands for the color of the text.
    So 'main-bg' would be the body background
    and 'main-text' would be the default color of the text on the site.
*/
:root {
    --main-bg: #E8FDF5;
    --secondary-bg: #FBF1A9;
    --main-text: #A463F2;
}

/*
   Fonts!  You can change the font-family being used or the default text of the site!
*/
:root {
    --default-size: 18px;
    --primary-font: mononoki;
}
/* This is Code added to get custom fonts working.  
   Add yr own here if you wanna use a custom font
--------------------------------------------------*/


@font-face {
    font-family: 'mononoki';
    src: url('./fonts/mononoki/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('./fonts/mononoki/mononoki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/mononoki/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('./fonts/mononoki/mononoki-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/mononoki/mononoki-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'mononoki';
    src: url('./fonts/mononoki/mononoki-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/mononoki/mononoki-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: italic;
}
