body, html {
    margin: 0;
    paddding: 0;
    font-size: var(--default-size);
}

body {
    background: var(--main-bg);
    font-family: var(--primary-font);
    color: var(--main-text);
}

  .wrapper{
  padding: 1em;
}

/* Title!
   The scrycast name, tagline, and description.
*/

#Title {
  width: 80%;
  margin-bottom: 0.5em;

}

#Title h1{
    margin-bottom: 0;
}


#Title h2{
  margin-top: 0.25em;
  font-style: italic;
}


      #Episode {
          background: var(--secondary-bg);
          padding: 1em;
          width: 90%;
          margin: auto;
      }


      #Episode h2 {
          text-align: center;
      }

      #seed-date {
        font-size: 0.75em;
      }

      .episode-image img{
          width: 100%;
      }

      #peerList {
          margin-left: 0;
          padding-left: 0;
      }

      #peerList li {
          list-style-type: none;
          padding-left: 0;
          margin-left: 0
}
